---
import Base from '../layouts/Base.astro';
---

<Base title='One teaching management'>

  <div class="h-screen bg-gradient-to-r from-e9e4f0 to-d3cce3">

    <h6>Pagina 1</h6>
    <h2>contenido</h2>


  </div>

</Base>