---
import Base from "../layouts/Base.astro";
---

<Base title="Oficraft">
  <div class="px-3 py-3">
    <div class="py-3 px-3">
      <div class="mx-auto">
            <h1 class="text-center font-bold sm:text-4xl">
                Quienes somos
            </h1>
          </div>
      
          <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
              <img
                alt=""
                src="/images/logo.png"
                class="h-full w-full"
              />
            </div>
      
            <div class="lg:py-16">
              <article class="space-y-4 text-gray-600">
                <p>
                    Somos un grupo de profesionales apasionados por el talento técnico y la tecnología.
                     Nuestro equipo está compuesto por expertos en recursos humanos, desarrollo profesional y tecnología, 
                     todos comprometidos con ayudarte a alcanzar tus objetivos. Trabajamos juntos para proporcionar una 
                     plataforma intuitiva y eficaz, respaldada por un soporte excepcional.
                </p>
              </article>
            </div>
          </div>
        </div>

    <div class="flow-root rounded-lg border border-gray-100 py-3 px-3 shadow-sm bg-custom-gradient h-screen">
        <div class="max-w-2xl">
            <h2 class="text-center text-3xl font-bold sm:text-4xl">
                Misión
            </h2>
          </div>
      
          <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
              <img
                alt=""
                src="/images/mision.png"
                class="absolute inset-0 h-full w-full object-cover"
              />
            </div>
      
            <div class="lg:py-16">
              <article class="space-y-4 text-gray-600">
                <p>
                    Conectar a profesionales con experiencia en oficios manuales con empleadores que valoran su destreza 
                    y especialización, utilizando una plataforma digital avanzada que facilita la publicación y gestión 
                    de ofertas de trabajo, la búsqueda de empleo, y la creación de perfiles detallados. Atendemos a 
                    empleadores y candidatos en el sector de oficios manuales, guiados por principios de excelencia, 
                    transparencia, inclusión, innovación y seguridad, fomentando el crecimiento y desarrollo del talento 
                    manual.
                </p>
              </article>
            </div>
          </div>
    </div>

    <div class="flow-root rounded-lg border border-gray-100 py-3 px-3 shadow-sm h-96">
        <div class="max-w-2xl">
            <h2 class="text-center text-3xl font-bold sm:text-4xl">
                Visión
            </h2>
          </div>
      
          <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <div class="relative h-96 overflow-hidden sm:h-80 lg:h-full">
              <img
                alt=""
                src="/images/vision.png"
                class="absolute inset-0 h-full w-full object-cover"
              />
            </div>
      
            <div class="lg:py-16">
              <article class="space-y-4 text-gray-600">
                <p>
                    Ser la plataforma líder en la conexión de profesionales con experiencia en oficios manuales con
                    empleadores que valoran su destreza y especialización, fomentando el crecimiento y desarrollo del 
                    talento en el sector manual.
                </p>
              </article>
            </div>
          </div>
    </div>

    <div class="flow-root rounded-lg border border-gray-100 py-3 px-3 shadow-sm bg-custom-gradient h-screen">
        <div class="max-w-2xl">
            <h2 class="text-center text-3xl font-bold sm:text-4xl">
                Nuestros Valores
            </h2>
          </div>
      
          <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
              <img
                alt=""
                src="/images/quienes_somos.png"
                class="absolute inset-0 h-full w-full object-cover"
              />
            </div>
      
            <div class="lg:py-16">
              <article class="space-y-4 text-gray-600">
                <p>
                    <ul class="list-disc list-inside space-y-2 text-gray-700">
                        <li>Compromiso: Nos dedicamos a ofrecer el mejor servicio posible tanto a los buscadores de 
                            empleo como a las empresas.</li>
                        <li>Innovación: Utilizamos la tecnología más avanzada para proporcionar herramientas y recursos 
                            que faciliten el proceso de búsqueda y contratación de empleo.</li>
                        <li>Integridad: Operamos con transparencia y honestidad, asegurando que todas las partes reciban 
                            un trato justo y respetuoso.</li>
                        <li>Colaboración: Creemos en la fuerza del trabajo en equipo y nos asociamos con empresas y 
                            profesionales para lograr objetivos comunes</li>
                        <li>Calidad: Nos enfocamos en ofrecer un servicio de alta calidad que cumpla y supere las 
                            expectativas de nuestros usuarios.</li>
                    </ul>
                </p>
              </article>
            </div>
          </div>
        </div>

        <div class="flow-root rounded-lg border border-gray-100 py-3 px-3 shadow-sm">
            <div class="max-w-2xl">
                <h2 class="text-center text-3xl font-bold sm:text-4xl">
                    ¿Qué Nos Diferencia?
                </h2>
              </div>
          
              <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
                <div class="relative h-96 overflow-hidden sm:h-80 lg:h-full">
                  <img
                    alt=""
                    src="/images/diferencia.png"
                    class="absolute inset-0 h-full w-full object-cover"
                  />
                </div>
          
                <div class="lg:py-16">
                  <article class="space-y-4 text-gray-600">
                    <p>
                        <ul class="list-disc list-inside space-y-2 text-gray-700">
                            <li>Especialización: Nos enfocamos exclusivamente en oficios técnicos, lo que nos permite 
                                entender mejor las necesidades y desafíos de este sector</li>
                            <li>Red Amplia: Contamos con una amplia red de profesionales y empresas, lo que aumenta las 
                                posibilidades de encontrar la combinación perfecta.</li>
                            <li>Soporte Dedicado: Ofrecemos un servicio de soporte dedicado para asistir tanto a los 
                                profesionales como a las empresas en cada paso del proceso.</li>
                        </ul>
                    </p>
                  </article>
                </div>
              </div>
        </div>

  </div>
</Base>


